* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
}

#canvas-container {
  position: relative;
  width: 100%;
}

#canvas {
  border: 2px solid black;
}

.point {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

#table-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 700px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

th {
  background-color: grey;
  color: white;
}

table .final {
  border-top: 2px solid black;
  text-align: right;
}

table .final td:last-child {
  text-align: right;
}

#pen {
  width: 50px;
  fill: green;
}

#reset-button {
  margin-left: 10px;
  cursor: pointer;
}

#print_btn {
  margin-right: auto;
}

#icons-container {
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.custom-icon {
  display: block;
  width: 50px;
  cursor: pointer;
}
